* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

center button {
    width: 100%;
    padding: 2px;
}
